<!DOCTYPE html>
<html>
<head>
    <title>Json Rpc Documentation</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//getbootstrap.com/assets/css/docs.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//getbootstrap.com/assets/js/docs.min.js"></script>

    <!-- CodeMirror editor -->
    <script src="//codemirror.net/lib/codemirror.js"></script>
    <script src="//codemirror.net/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="//codemirror.net/lib/codemirror.css">

    <script type="text/javascript" src="//jsonlint.com/c/js/jsl.format.js"></script>

    <style>
        /* Fit size fix for CodeMirror */
        .CodeMirror { border: 1px solid #eee; height: auto; }
        .CodeMirror-scroll { overflow-y: hidden; overflow-x: auto; }
    </style>

    <script>
        $(function () {
            CodeMirror.defaults["theme"] = "default";
            CodeMirror.defaults["lineNumbers"] = true;
            CodeMirror.defaults["indentUnit"] = 4;
            CodeMirror.defaults["mode"] = {name: "javascript", json: true};

            $('.rpc-request').each(function () {
                // code mirror for request
                var textarea1 = $(this);
                var cm1 = CodeMirror.fromTextArea(textarea1[0]);
                cm1.setValue(jsl.format.formatJson(cm1.getValue()));

                var rpc_method_name = textarea1.data('rpc-method-name');

                // code mirror for response
                var textarea2 = $('.rpc-response[data-rpc-method-name="' + rpc_method_name + '"]');
                textarea2.parent().hide();
                var cm2 = CodeMirror.fromTextArea(textarea2[0]);

                var button = $('.rpc-button[data-rpc-method-name="' + rpc_method_name + '"]')
                    .click(function () {
                        cm1.setValue(jsl.format.formatJson(cm1.getValue()));
                        $.post("{% url "rpc_view" %}", cm1.getValue())
                            .success(function (data) {
                                textarea2.parent().show();
                                cm2.setValue(jsl.format.formatJson(JSON.stringify(data)));
                            })
                            .error(function (data) {
                                textarea2.parent().show();
                                cm2.setValue('Error ' + data.status + ': ' + data.statusText);
                            });
                    });
            });
        });
    </script>
</head>
<body id="top">
    <div class="bs-docs-header" id="content">
        <div class="container">
            <h1>Rpc Documentation</h1>
        </div>
    </div>
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-9" role="main">
                {% for namespace, methods in jsonrpc_methods.items %}
                    <div class="bs-docs-section">
                        <h1 id="{{ namespace }}" class="page-header">{{ namespace }}</h1>
                        {% for method in methods %}
                            <h3 id="{{ method.name }}">{{ method.name }}</h3>

                            <h4>Docstring</h4>

                            {{ method.docstring.body|safe }}

                            <h4>Options</h4>

                            <ul>
                            {% for option, value in method.options.viewitems %}
                                <li>{{ option }} : {{ value }}</li>
                            {% endfor %}
                            </ul>


                            <div class="bs-example">
                                <p>
                                    <textarea class="rpc-request" data-rpc-method-name="{{ method.name }}">{{ method.example }}</textarea>
                                </p>
                                <p>
                                    <textarea class="rpc-response hidden" data-rpc-method-name="{{ method.name }}"></textarea>
                                </p>
                            </div>

                            <div class="highlight">
                                <a class="btn btn-primary rpc-button" data-rpc-method-name="{{ method.name }}">Submit</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <h2 id="input-groups-buttons-segmented"></h2>
            </div>

            <div class="col-md-3">
                <div class="bs-docs-sidebar hidden-print" role="complementary">
                    <ul class="nav bs-docs-sidenav">
                    {% for namespace, methods in jsonrpc_methods.items %}
                        <li>
                            <a href="#{{ namespace }}">{{ namespace }}</a>
                            <ul class="nav">
                            {% for method in methods %}
                                <li>
                                    <a href="#{{ method.name }}">{{ method.name }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                    <a class="back-to-top" href="#top"> Back to top </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="bs-docs-footer" role="contentinfo">
        <a class="back-to-top" href="#top"> Back to top </a>
    </footer>
</body>
</html>
